# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
ENV/
.venv/

# dotenv / variáveis sensíveis
.env
.env.local

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# MacOS
.DS_Store
